---------------------------------------------
- Wiley Winters
- MSDS 640 - Assignment 6 Social Media Analysis for the Common Good
- 2025-AUG-16

------------------------------------------------------------------------
# Assignment Specification
For this week's assignment, you are tasked with write report APA-formatted paper (3-4 pages long). Assume the role of a data science researcher employed at a non-profit organization, approaching the topic from a data science's perspective.
- Your main objective is to utilize social media data to contribute to a common good issue. Choose a topic such as **mental health**, **income inequality**, **human rights**, **workers' rights**, a particular **healthcare concern**, or **socioeconomic injustices**. Select a social media platform for data collection, and options include Reddit, X (formerly Twitter), Facebook, or others
- At a minimum create the wordcloud and include it in your paper. To go above and beyond, apply other NLP and text analytics techniques, such as [topic modeling](https://towardsdatascience.com/end-to-end-topic-modeling-in-python-latent-dirichlet-allocation-lda-35ce4ed6b3e0) and sentiment analysis. Note that many people consider wordclouds uninformative and [bad practice](https://getthematic.com/insights/word-clouds-harm-insights/), so you should strive to create a bar chart of top wordcloud or other visualizations instead, which can be done using tools and examples provided in resources like "MSDS640_Week6_FTE.ipynb"
- Your paper should also feature a mindmap. This mindmap should center around the common good issue you have selected, with social media platforms branching out from the center. Further layers can delve into ethics and privacy concerns related to the project, culminating in examples of these issues
- In your work, include an overall ***introduction***, a ***description of your dataset***, the ***purpose** behind your research, highlighting the problem you seek to address, and a discussion on ethics and privacy challenges in the context of your chosen common good issue. Additionally, provide a summary of your findings. For further insights and inspiration, refer to the weekly reading list, which includes videos and mind-mapping resources

-------------------------------------------------------------------------------
## Import Required Packages and Libraries

In [1]:
# Standard Imports
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
import sys

# Read sqlite3 database file
import sqlite3

# Text processing and preparation
import string
from nltk.tokenize import word_tokenize
from nltk.stem import WordNetLemmatizer
from sklearn.feature_extraction.text import TfidfVectorizer
from nltk.corpus import stopwords, words

# Text Visualization
from wordcloud import WordCloud

# Sentiment Analysis
from nltk.sentiment.vader import SentimentIntensityAnalyzer

# Make plots pretty
plt.style.use('ggplot')

## Define Functions

Process text function to perform basic preprocessing on text features.  I changed this function to use lemmatization instead of stemming.  While stemming can be faster to perform, lemmatization actually reduces the word-forms to linguistically valid lemmas.

In [2]:
def process_text(text):
    if isinstance(text, str):
        text = text.lower() # Convert all to lower case
        # Remove punctuation
        text = ''.join([char for char in text if char not in string.punctuation])
        text = ''.join([char for char in text if not char.isdigit()])  # Remove numbers
        # In some instances, I've run into issues with extra spaces.
        text = text.strip()
        # Remove stop words and apply lemmatizer
        stop = stopwords.words('english')
        wnl = WordNetLemmatizer()
        text = ' '.join([wnl.lemmatize(word) for word in text.split() if word not in \
                         stop])

        return text
    else:
        return ' '

I chose to download **Reddit** submissions and their associated comments.  Since the relationship between submissions and comments are one to many, I decided to store the data in a *sqlite3* datafile.  This will allow me to query the data using standard SQL statements that allows for one to many SQL joins.

The code below creates a connection to the datafile and then queries it based on criteria I have chosen.  A pandas dataframe is created from the query.

Since I believe the purpose of the lab is to perform a sentiment analysis, I will only load text features.

In [3]:
conn = sqlite3.connect('data/poverty.sqlite')  # Create the database connection object

reddit_df = pd.read_sql_query('SELECT id, created_utc, title, author, n_comments, ' \
                              'score, ratio, text, comment_id, comment_utc, ' \
                              'comment_author, body, comment_score ' \
                              'FROM posts, comments WHERE posts.id = comments.link_id ' \
                              'AND n_comments > 0', conn)
# Take a quick peek at the data
reddit_df.sample(5)

,id,created_utc,title,author,n_comments,score,ratio,text,comment_id,comment_utc,comment_author,body,comment_score
7164,16b2f62,1.693953e+09,If I ever get rich,TheAlmightyBuddha,3,7,0.90,"If I ever get rich, I'll probably become the f...",n0irvib,1.751255e+09,TheAlmightyBuddha,doing a bit better now except I'm unemployed a...,1
2668,1mh3nii,1.754281e+09,I think a lot of us can survive on Costco hot ...,Apprehensive_Name445,220,323,0.92,I have been going to these places everyday and...,n7hznly,1.754605e+09,Old-Set78,In Texas the ONLY thing that is required in re...,3
6319,1ml2agb,1.754676e+09,How to furnish apartment on a budget?,kscruggs182,48,12,1.00,I moved out when I was sixteen but managed to ...,n7r9dr0,1.754736e+09,WillGrahamsass,"Dollar Tree, Five Below",1
5280,1e8hq0o,1.721551e+09,Found motivation in hunger,soapsNjncojeans,14,25,0.88,First time in my life I don't have food or mon...,lhk3qyn,1.723362e+09,soapsNjncojeans,Copy that. I'm not one to complain but I'm als...,1
1650,1m3jg9t,1.752887e+09,The struggle is real.,Apprehensive_Snow45,273,876,0.98,I'm fresh out of prison and I'm feeling overwh...,n4nfz24,1.753242e+09,Brilliant-Hope691,"Check with your school, they often have an IT ...",2

The dates are in Unix Epoch.  I will convert them into something a little more human readable.

In [4]:
reddit_df['created_utc'] = pd.to_datetime(reddit_df['created_utc'], unit='s')
reddit_df['comment_utc'] = pd.to_datetime(reddit_df['comment_utc'], unit='s')
reddit_df.sample(5)

,id,created_utc,title,author,n_comments,score,ratio,text,comment_id,comment_utc,comment_author,body,comment_score
2860,1lzybaq,2025-07-14 20:56:16,How are you guys affording everyday basic hygi...,MoodyMagicOwl,154,250,0.99,The title pretty much explains itself.\n\n I a...,n35efx3,2025-07-14 21:24:01,Carrie_1968,I do this. Once you get used to it you can *fe...,2
7660,197zvaf,2024-01-16 10:32:31,prescriptions,Illustrious-Level858,5,4,0.75,how to get free script help,kibctie,2024-01-17 18:27:33,kkaavvbb,Try calling the drug company. They typically o...,2
785,1mbceud,2025-07-28 10:18:40,Poor people can't have both kids and money,Grouchy_Key4343,271,1160,0.96,"The way I see things, if you were born poor an...",n5muot7,2025-07-28 16:33:35,TheMaze01,And you've sought no remedy over the decades?,-2
3244,1kl71d8,2025-05-12 23:16:05,I am Tired of the Struggle,innovstars,38,136,0.99,"I (28 f) am currently in debt and struggling, ...",ms2q92s,2025-05-13 11:47:52,innovstars,"I have told him I would if I needed too, I am ...",1
709,1mbceud,2025-07-28 10:18:40,Poor people can't have both kids and money,Grouchy_Key4343,271,1160,0.96,"The way I see things, if you were born poor an...",n5l2nii,2025-07-28 10:31:03,Comntnmama,My dad joined the Navy but got out and was poo...,2

From previous experiences with this dataset, I know when a comment is removed or deleted, the `body` text is replaced with `[deleted]` or `[removed]`.  I will take a look to see if the count of those comments is significant

In [5]:
print(reddit_df[reddit_df['body'] == '[deleted]'].count())
print(reddit_df[reddit_df['body'] == '[removed]'].count())

id                74
created_utc       74
title             74
author            74
n_comments        74
score             74
ratio             74
text              74
comment_id        74
comment_utc       74
comment_author    74
body              74
comment_score     74
dtype: int64
id                75
created_utc       75
title             75
author            75
n_comments        75
score             75
ratio             75
text              75
comment_id        75
comment_utc       75
comment_author    75
body              75
comment_score     75
dtype: int64

The number is not significant so I will drop these rows.  Its less than 1% of the dataset.

In [6]:
indexBody = reddit_df[(reddit_df['body'] == '[deleted]') | \
                      (reddit_df['body'] =='[removed]')].index
reddit_df.drop(indexBody, inplace=True)
print(reddit_df[reddit_df['body'] == '[deleted]'].count())
print(reddit_df[reddit_df['body'] == '[removed]'].count())

id                0
created_utc       0
title             0
author            0
n_comments        0
score             0
ratio             0
text              0
comment_id        0
comment_utc       0
comment_author    0
body              0
comment_score     0
dtype: int64
id                0
created_utc       0
title             0
author            0
n_comments        0
score             0
ratio             0
text              0
comment_id        0
comment_utc       0
comment_author    0
body              0
comment_score     0
dtype: int64

It appears from the quick look at the dataset that the `text` feature may be null or blank values. I will check

In [8]:
reddit_df[reddit_df['text'] < 1]

TypeError: '<' not supported between instances of 'str' and 'int'

In [10]:
reddit_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 8110 entries, 0 to 8258
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id              8110 non-null   object
 1   created_utc     8110 non-null   datetime64[ns]
 2   title           8110 non-null   object
 3   author          8110 non-null   object
 4   n_comments      8110 non-null   int64
 5   score           8110 non-null   int64
 6   ratio           8110 non-null   float64
 7   text            8110 non-null   object
 8   comment_id      8110 non-null   object
 9   comment_utc     8110 non-null   datetime64[ns]
 10  comment_author  8110 non-null   object
 11  body            8110 non-null   object
 12  comment_score   8110 non-null   int64
dtypes: datetime64[ns](2), float64(1), int64(3), object(7)
memory usage: 887.0+ KB

In [9]:
reddit_df['text'].map(len).value_counts().sample(10)

text
262      1
1045     7
719      6
2325     1
74       2
63       3
176     11
1453     5
2226     6
1381    10
Name: count, dtype: int64

With 336,775 rows the dataset is larger than required for the lab.  In addition, clustering with K-Means can be computational and time intensive.  I will truncate the dataset to a number that can be processed in a reasonable amount of time.

In [ ]:
reddit_df = reddit_df.head(10000)
reddit_df.shape

-------------------------------------------------------------------------------
### Preprocess Text

In order to conduct an meaningful EDA of the text data, I will apply some basic NLTK preprocessing to it.  This includes removing punctuation, converting all to lower case, removing numbers, extra spaces, stop words, and breaking words down to their *lemmas*.  I have defined a function to carry out these tasks.  I am concentrating on the `title` and `body` features, but will also process `author` and `comment_author`.

In [ ]:
cols = ['title', 'body', 'author', 'comment_author']
for col in cols:
    reddit_df[col] = reddit_df[col].apply(process_text)
reddit_df.sample(5)

For this study, I am mostly concern with the text data in the `title` and `body` features.  In order to make processing easier, I will merged the two.  I will also add in `author` and `comment_author` to add more words to be clustered.

In [ ]:
reddit_df['content'] = reddit_df['title'] + reddit_df['body'] + \
                       reddit_df['author'] + reddit_df['comment_author']
reddit_df['content'].sample(5)

-------------------------------------------------------------------------------
## Perform some Basic EDA

In [ ]:
print(reddit_df.info())
print('\nDataset shape: ', reddit_df.shape)

The dataset contains 10,000 rows and 13 columns.  There are no NaN values and the datatypes include *datetime64[ns]*, *int64*, *float64*, and *object*.  For this analysis, I am concentrating on *object* text data.

**List the top 10 Words**

In [ ]:
freq = pd.Series(' '.join(reddit_df['content']).split()).value_counts(ascending=False).to_dict()
print('Top 10 Words:')
list(freq.items())[:10] # using list to make the output more readable.

**Create a WordCloud from Text Data**

In [ ]:
wc = WordCloud(width=1000, height=600, max_words=500).generate_from_frequencies(freq)
plt.figure(figsize=(10, 10))
plt.imshow(wc, interpolation='bilinear')
plt.axis('off')
plt.show()

The word cloud along with the top 10 word list can give a person a really good idea of what SubReddit was downloaded.  The most used words such as *moon*, *space*, *earth*, and *astronaut* are really good indicators of the subject under discussion.

**Vectorize Text Data**

Machine Learning algorithms do not understand text information and in order to feed text into an ML algorithm, it must be converted to numeric values.  There are a few options available to do this task.  In a past lab we used a *CountVectorizer*, which simply counts the number of times a word appears in the document.  The *TfidfVectorizer*, on the other hand, counts the words and takes into account how important that word is to the whole corpus.  I've also added parameters suggested by this article [Sparse Features](https://scikit-learn.org/stable/auto_examples/text/plot_document_classification_20newsgroups.html#sphx-glr-auto-examples-text-plot-document-classification-20newsgroups-py), since the dataset I am working with is sparse in nature.

In [ ]:
tfv = TfidfVectorizer(sublinear_tf=True, max_df=0.5, min_df=5, stop_words='english')
X = tfv.fit_transform(reddit_df['content'])
X.shape

-------------------------------------------------------------------------------
### Cluster Text with K-Means

K-Means clustering is one of the most popular unsupervised machine learning algorithms. K-Means clustering is used to find intrinsic groups within an unlabelled dataset and draw inferences from them. In this study, I will be clustering the most used words in the Reddit submissions.

K-means optimizes a non-convex objective function and its clustering is not guaranteed to be optimal for a given random init.  Furthermore, sparse high-dimensional data such as text vectorized using the *Bag of Words* approach (which I am doing in this lab), can cause k-means to initialize centroids on extremely isolated data points.  One way to avoid this problem is to increase the number of runs with independent random initiators.  Increasing the `n_init` parameter's value will do this [Sparse Features](https://scikit-learn.org/stable/auto_examples/text/plot_document_classification_20newsgroups.html#sphx-glr-auto-examples-text-plot-document-classification-20newsgroups-py).  The default for `n_init` changes depending on the value of `init`, since the default for `init` is *k-means++* the default for `n_init` is **1**

In [ ]:
# Declare a list to store results in
sum_sq= []

# fit the model for a range of 1 to 11 clusters and add to sum_sq[]
for n in range (1, 11):
    print('Calculating for ',n,' clusters')
    
    # random_state makes the results more reproducible 
    km_model = KMeans(n_clusters=n, max_iter=2000, n_init=2, random_state=42)
    km_model.fit(X)
    sum_sq.append(-km_model.score(X))

One method to determine the optimal number of clusters is to plot the results of the K-Means clustering algorithm and looking for a bend in the plot.  The bend should indicate the optimal number of clusters.  This is known as the *elbow method* and the plot is known as a *scree plot*

In [ ]:
plt.plot(range(1, 11), sum_sq, 'bx-')
plt.show()

This plot is a little difficult to interpret.  A bend starts at 5 with a sharper change at 6. Based on the angle of the curve at 6, I'll run the model with 6 clusters.

In [ ]:
# Fit the KMeans model with 6 clusters
km_model = KMeans(n_clusters=6, n_init=2, random_state=42)
km_model.fit(X)

# gather the predictions
preds = km_model.predict(X)

I will use sklearn.metrics silhouette_score to gauge the performance of 5 clusters.  The Silhouette Coefficient is calculated using the mean intra-cluster distance and the nearest-cluster distance for each sample.  The best value is 1 and the worst is -1. Values near 0 indicate overlapping clusters [sklearn.metrics.silhoulette_score](https://scikit-learn.org/stable/modules/generated/sklearn.metrics.silhouette_score.html).  I would like to see a score close to 1.

In [ ]:
score = metrics.silhouette_score(X, preds, sample_size=2000)
score

The score is above zero, but still not very close to 1.  I will try with 5 clusters.

In [ ]:
# Fit the KMeans model with 5 clusters
km_model = KMeans(n_clusters=5, n_init=2, random_state=42)
km_model.fit(X)

# gather the predictions
preds = km_model.predict(X)

In [ ]:
score = metrics.silhouette_score(X, preds, sample_size=2000)
score

The silhouette score for 5 clusters is closer to 1 than the 6 cluster model.  However, both scores are fairly close to 0 which indicates the clusters maybe overlapping.

In very high-dimensional spaces, euclidean distances tend to become inflated (curse of dimensionality). This may have happened here and to confirm I will check the inertia score. Inertia is the means of how internally coherent the clusters are. A score of zero is optimal.

In [ ]:
km_model.inertia_

The score is significantly higher than zero.  I will apply an algorithm to reduce the dimensions.

-------------------------------------------------------------------------------
**Principal Component Analysis (PCA)**

It is possible the dataset had too many dimensions and this is causing the clustering algorithm to not perform as expected (*Curse of dimensionality*).  Linear dimensionality can be reduced using ***Singular Value Decomposition (SVD)***.  I will reduce the dimensions of the dataset and plot the results.

In [ ]:
# Create the SVD object and reduce dataset
svd = TruncatedSVD(n_components=5, n_iter=7, random_state=42)
data_reduced = svd.fit_transform(X)
data_reduced = pd.DataFrame(data_reduced)

# Plot results
ax = data_reduced.plot(kind='scatter', x=0, y=1, c=preds, cmap='rainbow')
ax.set_xlabel('PC1')
ax.set_ylabel('PC2')
ax.set_title('K-Mean Clusters after Reducing Dimensions')

The plot above indicates the clusters are not well defined.  Even though there is overlabp, the plot still shows 4 clusters.  There is overlap along the edges of the clusters and this confirms that the *inertia_ score* is indicating overlap.

**Hierarchical Cluster Analysis (HCA)**

**HCA** is an algorithm that can be used to make the clusters more distinct and provide better separation between them.  It works by treating each observation as a separate cluster.  Then it repeatedly executes the following two steps:
1) Identify the two clusters that are closest together
2) Merge the two most similar ones.  This continues until all the clusters are merged

**Dendrograms**

We can use a dendrogram to visualize the history of groupings and figure out the optimal number of clusters. To determine the largest vertical distance that does not intersect any of the other clusters Draw a horizontal line at both extremities The optimal number of clusters is equal to the number of vertical lines going through the horizontal line.

In [ ]:
# I will select a sample of 2000 from the 10,000
indices = np.random.choice(X.shape[0], 2000, replace=False)
ydist = X[indices].toarray() # The linkage() method input requires an array

# The scipy hierarchial linkage method is used to create the HCA
# parameter ward instructs the method to use the Ward variance 
# minimization algorithm
Z = linkage(ydist, 'ward')

# Plot dendrogram
plt.figure(figsize=(15, 8))
dendrogram(Z)
plt.title('Dendrogram on Sample Data')
plt.ylabel('Euclidean distances')
plt.show()

In [ ]:
plt.figure(figsize=(15, 8))
dendrogram(Z)
plt.title('Dendrogram')
plt.ylabel('Eluclidean distances')
plt.axhline(y=9, color='b', linestyle='--')
plt.show()

If I understand the Lecture for Week 6 correctly, the dendrogram is indicating I should apply hierarchical clustering for 5 clusters.

I will try K-Means again with 5 clusters on the data that had PCA and HCA applied

In [ ]:
# Fit the KMeans model with 5 clusters
km_model = KMeans(n_clusters=5, n_init=2, random_state=42)
km_model.fit(Z)

# gather the predictions
preds = km_model.predict(Z)
metrics.silhouette_score(Z, preds, sample_size=2000)

Look at the *inertia_ score*

In [ ]:
km_model.inertia_

The *silhouette score* shows significant improvement; therefore, the clusters are not overlapping as much as before the PCA.  Unfortunately, it looks likes the clusters are less defined after the HCA as the *inertia score* is significantly higher than before the HCA which indicates the clusters are not well defined.

-------------------------------------------------------------------------------
### Summary and Discussion
**Summary**

The goal of this lab was to download a text-based dataset from Twitter or Reddit.  I chose to download submittals from the Space subReddit.  The submitttal  and its comments had to be downloaded separately due to API limitations.  Since the relationship between a submittal and comments is a one-to-many, I saved the submittals and their comments to a *sqlite3* database file.  This allowed me to load the data into a dataframe using a *SQL* join statement.

After creating the dataframe from a SQL statement, I performed some basic data wrangling to change the timestamps from UNIX epoch to a readable format.  I also identified the sumbittal's title and the comment's body as the features of interest in this study.  As part of the data wrangling process, I also reduced the number of records in the dataset from over 300,000 to 10,000 using Pandas' head function.  Then I preprocessed all of the text features by converting all characters to lowercase, removing digits, removing punctuation, and applying a lemmatizer algorithm to reduce words to their basic forms.  I chose to lemmatize the text instead of stemming, since sklearn's *WordNetLemmatizer* actually uses a corpra (word dictionary) to look up the words being lemmatized.  The basic form of the word is know as a *lemma*.  In this case, I believe the lemmatizer reduced *Mars* to *mar*.  this maybe due to me converting everything to lowercase before applying the lemmatizer.

The features `title`, `body`, `author`, and `comment_author` were merged together into one feature named `content`. Furthermore, the `text` feature was dropped, since it did not contain any useful information.  After the merge and drop processes, some basic EDA was conducted on the feature.  This included listing the top 10 words used in the dataset and plotting a word cloud.  

Next the dataset under study was vectorized using the TfidfVectorizer function.  the TfidfVectorizer converts a collection of raw documents to a matrix of TF-IDF features.  These features were then fitted to a K-Means algorithm and a 10 step loop was constructed to iterate through different number of clusters and a score calculated to find the optimal number of clusters to use.  Using a *scree* plot and the *silhouette score*, I determined that 6 clusters were the optimal number.  However, the *silhouette* and *inertia_* scores indicated that the clusters were not well defined and the model may be suffering from the *curse of dimentionality*.  Therefore, a SVD method was applied to the dataset to reduce its linear dimensionality.  None the less, a PCA plot indicated the clusters were still not well formed and a HCA was conducted.

**Results**

The PCA process did reduce the *dimentionality* of the clusters with a significantly larger score.  This indicates the clusters are still overlapping, but not as bad as before the PCA.  The *inertia score* after HCA indicates the clusters are still not well defined and actually became less defined.

| Process                              | Silhouette | Inertia      |
|--------------------------------------|------------|--------------|
| K-Means<br> 5 Clusters                   | 0.063      | 8750.09      |
| K-Means<br> 6 Clusters                   | 0.062      | Not Recorded |
| K-Means after<br> PCA and HCA<br> 5 Clusters | 0.43      | 526322304.61  |

**Discussion**

I found that just clustering text is most likely not the best use for K-Means clustering.  However, I do think that this can be remedy by setting some categories for the clusters.  For example, try to cluster around categories such as *Earth*, *Moon*, *Mars*, and *Image*.  It would be interesting to see if K-Means could create those clusters based on analyzing the text of the submittal and its comments.